
@{
    ViewBag.Title = "Resete_Password1";
}

    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" type="text/css" href="~/Content/main2.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/util.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Awesome-Font/css/font-awesome.min.css" />

<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <span class="login100-form-title">
                    Recuperar su Contraseña
                </span>
                <div class="wrap-input100">
                    @Html.TextBox("usuarioReset", null, new { @class = "input100", placeholder = "Dijite el corro electronico asociado al usuario" })
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="container-login100-form-btn">
                    <input type="submit" value="Enviar correo con contraseña temporal" class="login100-form-btn  btn-success  " />
                </div>

                <div class="text-center p-t-136">
                    <a class="txt2">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        @Html.ActionLink("Regresar", "Index")
                    </a>
                </div>
            </div>
        </div>
    </div>


</body>
